ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .col a{
    font-weight: bold;
  }

  h1{
    font-weight: bold;
    padding-left: 310px;
    font-size: 40px;
  }

  button{
    position:relative;
    left: 310px;
    background-color: rgba(0, 195, 255, 0.39);
    border-color: rgba(0, 195, 255, 0.39);;
  }

  #c{
    color: white;
  }
  #spec{
    background-color: black;
  }

  .table{
    padding-left: 310px;
  }